<template>
  <Layout>
    <contact-form title="Contáctanos" :content="$page.pages.form_text" class="my-20"></contact-form>

    <section class="mb-20">
      <div class="container mx-auto px-4 lg:px-0">
        <div class="flex flex-wrap items-center">
          <div class="w-full lg:w-4/12 text-center text-gold uppercase text-xl mb-6 lg:mb-0">
            <p>Escríbenos</p>
          </div>
          <div class="w-full lg:w-8/12 social-links text-center lg:text-left">
            <a
              href="#"
              target="_blank"
              class="jb-btn text-gold uppercase text-xl py-2 px-8 inline-block lg:mr-3 mb-4 lg:mb-0"
            >Facebook</a>
            <a
              href="#"
              target="_blank"
              class="jb-btn text-gold uppercase text-xl py-2 px-8 inline-block"
            >Correo</a>
          </div>
        </div>
      </div>
    </section>
  </Layout>
</template>

<page-query>
{
  pages(path: "/contacto") {
    form_text
  }
}
</page-query>

<script>
import ContactForm from "~/components/ContactForm";
export default {
  components: {
    ContactForm
  }
};
</script>

<style lang="scss">
.social-links {
  a {
    border: solid 1px $color--gold;
  }
}
</style>