<template>
  <Layout>
    <ClientOnly>
      <div class="py-16 relative">
        <g-image
          src="~/assets/img/grid-deco-5.svg"
          class="absolute right-0 top-0 bottom-0 m-auto w-2/5"
        />
        <div class="container mx-auto flex flex-wrap items-center px-4 lg:px-0 relative">
          <div class="w-full lg:w-1/2" data-aos="fade-right">
            <h1 class="text-white text-5xl mb-8">Disfruta JB</h1>
            <p
              class="text-white text-lg leading-loose mb-6 lg:mb-0"
            >Cake croissant soufflé. Pie topping lemon drops marshmallow cotton candy candy cupcake cake. Bear claw wafer cake toffee powder gummies.</p>
          </div>
          <div class="w-full lg:w-1/2" data-aos="fade-left">
            <g-image src="~/assets/img/map.svg" class="w-full" />
          </div>
        </div>
      </div>
    </ClientOnly>

    <ClientOnly>
      <section class="relative">
        <g-image
          src="~/assets/img/grid-deco-4.svg"
          class="absolute w-1/3 top-0 bottom-0 left-0 m-auto"
        />
        <div class="container mx-auto px-4 lg:px-0 relative" data-aos="fade-up">
          <div v-for="salePoint in $page.salePoints.edges" class="mb-20">
            <h2 class="text-gold uppercase text-lg mb-8">{{ salePoint.node.title }}</h2>
            <accordion
              :title="store.title"
              :content="store.address"
              v-for="(store, index) in salePoint.node.puntos_venta"
              :key="index"
            >{{ store.address }}</accordion>
          </div>
        </div>
      </section>
    </ClientOnly>

    <div class="relative overflow-hidden">
      <g-image
        src="~/assets/img/grid-deco-5.svg"
        class="absolute right-0 top-0 bottom-0 m-auto w-2/5 contact-form-deco h-full"
      />
      <contact-form
        title="¿Quieres ser distribuidor?"
        :content="$page.pages.form_text"
        class="mb-20 relative"
      ></contact-form>
    </div>

    <section class="mb-20">
      <div class="container mx-auto">
        <div class="flex -mx-6">
          <div
            class="lg:w-1/3 px-6"
            v-for="(image, index) in $page.pages.footer_gallery"
            :key="index"
          >
            <div class="footer-img relative">
              <g-image :src="image.image" class="absolute w-full h-full object-cover" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </Layout>
</template>

<page-query>
{
  salePoints: allSalePoints {
    edges {
      node {
        title
        puntos_venta {
          title
          address
        }
      }
    }
  },
  pages(path: "/distribucion") {
    form_text
    footer_gallery {
      image
    }
  }
}
</page-query>

<script>
import Accordion from "~/components/Accordion";
import ContactForm from "~/components/ContactForm";
export default {
  components: {
    Accordion,
    ContactForm
  }
};
</script>

<style lang="scss">
.contact-form-deco {
  transform: translateX(50%);
}
.footer-img {
  background-color: lightgray;
  &:after {
    content: "";
    display: block;
    padding-top: 130%;
  }
}
</style>