<template>
  <Layout>
    <div class="home-slider relative">
      <g-image src="~/assets/img/grid-deco-1.svg" class="deco-1 absolute z-10" />
      <div class="container px-5 lg:px-12 mx-auto mt-8">
        <div class="flex flex-column">
          <div class="w-full lg:w-11/12 lg:mx-auto relative">
            <h1
              class="uppercase text-white absolute text-5xl z-10 inset-y-0 flex items-center slider-title hidden lg:flex"
            >
              Tradición
              <br />Española y
              <br />Alemana
            </h1>
            <g-image
              src="~/assets/img/logo.svg"
              alt="JB delicatessen"
              class="absolute z-10 inset-y-0 right-0 slider-logo m-auto w-48 hidden lg:block"
            />
            <home-gallery></home-gallery>
          </div>
        </div>
      </div>
    </div>
    <ClientOnly>
      <section class="z-10 overflow-x-hidden" data-aos="fade-up" data-aos-delay="50">
        <div class="container mx-auto py-20 px-5 lg:px-12">
          <h2 class="text-white text-center text-3xl decorated-title relative mb-16">
            <span class="h1 absolute inset-0 m-auto">1917</span>
            <span class="h1 z-10 relative">JB Delicatessen</span>
          </h2>
          <div class="flex">
            <div class="md:w-1/2 mx-auto">
              <p
                class="text-center text-white leading-loose"
              >Somos una empresa orgullosamente celayense, dedicada a la fabricación de carnes frías y embutidos de la mejor calidad. Desde nuestra fundación en 1971, tenemos la firme voluntad de respetar y perfeccionar los procesos artesanales de la chacinería europea, brindando a nuestros clientes un auténtico patrimonio cultural de sabor.</p>
            </div>
          </div>
        </div>
      </section>
    </ClientOnly>
    <ClientOnly>
      <section class="our-products overflow-x-hidden" data-aos="fade-left" data-aos-delay="50">
        <div class="container mx-auto py-20 px-5 lg:px-12">
          <div class="our-products__container py-20 bg-repeat bg-center">
            <h2 class="text-white text-center text-3xl mb-20">Productos</h2>
            <div class="flex flex-wrap">
              <div
                class="w-1/2 lg:w-1/3 text-center mb-16"
                v-for="(cat, index) in $page.categories.edges"
                :key="index"
              >
                <g-link
                  :to="{path: '/productos', query: {cat: cat.node.title}}"
                  class="our-products__cat block"
                >
                  <g-image :src="cat.node.imagen" class="mx-auto w-24 md:w-32 mb-6" />
                  <h3 class="text-gold text-lg lg:text-xl">{{cat.node.title}}</h3>
                </g-link>
              </div>
              <g-link to="/productos" class="jb-btn mx-auto mt-10">Todos</g-link>
            </div>
          </div>
        </div>
      </section>
    </ClientOnly>
    <ClientOnly>
      <section class="our-story overflow-x-hidden">
        <div class="container mx-auto py-20 px-5 lg:px-12">
          <div class="lg:flex lg:items-center">
            <div class="w-full lg:w-6/12" data-aos="fade-right" data-aos-delay="50">
              <g-image src="~/assets/img/leaf.svg" class="mx-auto block w-8 mb-10" />
              <p
                class="text-white mb-12 leading-loose"
              >En 1971, en Celaya, Guanajuato, los maestros chacineros Don Javier Balderas y Doña Carolina Almanza integraron de manera sobresaliente el conocimiento en carnes frías y embutidos de las cocinas española y alemana.</p>
              <p
                class="text-white leading-loose mb-12 md:mb-0"
              >Así fue como dieron vida a la línea de JB Delicatessen, que de manera creciente ha ido ganado cada vez más prestigio debido a su delicadeza y sabor natural, respetando desde entonces el principio de integrar al mercado productos artesanales y de la mejor calidad.</p>
            </div>
            <div class="w-full lg:w-5/12 lg:ml-auto" data-aos="fade-left" data-aos-delay="50">
              <div class="our-story__img relative">
                <g-image
                  :src="$page.pages.acerca.image"
                  class="absolute w-full h-full object-cover"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </ClientOnly>
  </Layout>
</template>

<page-query>
{
  categories: allCategories {
    edges {
      node {
        id
        title
        path
        imagen
      }
    }
  },
  pages(path: "/") {
    acerca {
      image
    }
  }
}
</page-query>


<script>
import HomeGallery from "~/components/HomeGallery";
export default {
  components: {
    HomeGallery
  }
};
</script>

<style lang="scss">
.slider-title {
  transform: translateX(-40px);
  @media (min-width: 1280) {
    transform: translateX(-60px);
  }
}
.slider-logo {
  transform: translateX(40px);
  @media (min-width: 1280) {
    transform: translateX(60px);
  }
}
.deco-1 {
  width: 30%;
  transform: translate(-20%, 40%);
}
.decorated-title {
  span:first-child {
    color: #0a0a0a;
    transform: translateY(-85%);
    font-size: 5rem;
  }
}
.our-products__container {
  border: solid 1px $color--gold;
  background-image: url("../assets/img/grid-deco-2.svg");
  background-size: 60%;
  .our-products__cat {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
}
.our-story__img {
  background-color: lightgray;
  position: relative;
  &:after {
    content: "";
    display: block;
    padding-top: 100%;
  }
  @media (min-width: 768px) {
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      border: solid 2px $color--gold;
      z-index: 2;
      transform: translate(30px, -20px);
    }
  }
}
</style>