<template>
  <Layout>
    <ClientOnly>
      <div class="container mx-auto py-20 px-4 lg:px-0 overflow-x-hidden">
        <div class="flex">
          <div class="lg:w-10/12 lg:mx-auto">
            <div class="lg:flex items-center">
              <div class="w-full lg:w-1/2 mb-6 lg:mb-0" data-aos="fade-right">
                <div class="products-image relative">
                  <g-image
                    :src="$page.aboutPage.image"
                    class="absolute w-full h-full object-cover"
                  />
                </div>
              </div>
              <div class="w-full lg:w-1/2 z-10 px-6" data-aos="fade-left">
                <h1 class="text-white text-5xl mb-10 headline">{{$page.aboutPage.headline}}</h1>
                <p class="text-white text-lg">{{$page.aboutPage.copy}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ClientOnly>

    <ClientOnly>
      <section class="our-process py-16 overflow-x-hidden">
        <div class="container mx-auto flex flex-col md:flex-row items-center px-4 lg:px-0">
          <div
            class="lg:w-2/5 text-white lg:pr-16 leading-loose order-2 lg:order-1 mb-6 lg:mb-0"
            data-aos="fade-right"
          >{{$page.aboutPage.descriptionOne}}</div>
          <div class="lg:w-1/5 order-1 lg:order-2 mb-10 lg:mb-0" data-aos="fade-up">
            <g-image src="~/assets/img/pig-icon.svg" class="w-full" />
          </div>
          <div
            class="lg:w-2/5 text-white lg:pl-16 leading-loose order-3"
            data-aos="fade-left"
          >{{$page.aboutPage.descriptionTwo}}</div>
        </div>
      </section>
    </ClientOnly>

    <section class="our-products py-16 relative">
      <g-image src="~/assets/img/grid-deco-4.svg" class="absolute w-1/3 grid-deco" />
      <div class="container mx-auto px-4 lg:px-0 relative">
        <ul class="filters flex flex-wrap justify-center">
          <li
            class="lg:text-lg uppercase py-3 px-10 w-full md:w-1/2 lg:w-auto text-center"
            :class="{'selectedCat': selectedCategory == ''}"
            @click="selectedCategory = ''"
          >Todos</li>
          <li
            v-for="(category, index) in $page.categories.edges"
            class="lg:text-lg uppercase py-3 px-10 w-full md:w-1/2 lg:w-auto text-center"
            :class="{'selectedCat': selectedCategory == category.node.title}"
            :key="index"
            @click="selectedCategory = category.node.title"
          >{{category.node.title}}</li>
        </ul>
        <product-listing :selectedCat="selectedCategory"></product-listing>
      </div>
    </section>
  </Layout>
</template>

<page-query>
{
    aboutPage: pages(path: "/productos") {
        image
        headline
        copy
        descriptionOne
        descriptionTwo
    },
    categories: allCategories {
      edges {
        node {
          id
          title
          path
          imagen
        }
      }
    }
}
</page-query>

<script>
import ProductListing from "~/components/ProductListing";
export default {
  components: {
    ProductListing
  },
  data() {
    return {
      selectedCategory: ""
    };
  },
  created() {
    if (this.$route.query.cat) {
      this.selectedCategory = this.$route.query.cat;
    }
  }
};
</script>

<style lang="scss">
.products-image {
  &:after {
    content: "";
    display: block;
    padding-top: 100%;
  }
  @media (min-width: 768px) {
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border: solid 2px $color--gold;
      z-index: 2;
      transform: translate(-30px, -20px);
    }
  }
}
.headline {
  @media (min-width: 768px) {
    transform: translateX(-10%);
  }
}
.our-products {
  .grid-deco {
    transform: translateY(-20%);
  }
  .filters {
    li {
      color: $color--gold;
      border: solid 1px $color--gold;
      margin-left: -1px;
      cursor: pointer;
      &.selectedCat {
        position: relative;
        &:before {
          content: "";
          display: block;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          position: absolute;
          height: 100%;
          width: 100%;
          background-image: url("../assets/img/cross.svg");
          background-size: auto 80%;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}
</style>