<template>
  <div class="footer">
    <div class="container mx-auto">
      <div class="flex">
        <div class="w-10/12 text-center text-gold mx-auto brand-container">
          <h2 class="text-lg md:text-2xl py-4 md:py-8">JB Delicatessen</h2>
        </div>
      </div>
    </div>
    <div class="bg-white py-12 footer-info bg-contain bg-center">
      <div class="container text-center mx-auto">
        <p>
          <span class="mb-5 inline-block">Calle Hidalgo 619 Colonia Centro</span>
          <br />
          <span class="mb-5 inline-block">Celaya, Gto.</span>
          <br />
          <a
            href="mailto:contacto@empacadorajb.com"
            class="mb-5 inline-block"
          >contacto@empacadorajb.com</a>
          <br />
          <a href="tel:4616121214">461 612 12 14</a>
        </p>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.footer {
  .brand-container {
    border-top: solid 2px $color--gold;
    border-left: solid 2px $color--gold;
    border-right: solid 2px $color--gold;
  }
  .footer-info {
    background-image: url("../assets/img/grid-deco-3.svg");
  }
}
</style>