<template>
  <div class="home-gallery">
    <ClientOnly>
      <Carousel
        :items="1"
        :loop="true"
        :autoplay="true"
        :dots="false"
        :animateOut="'fadeOut'"
        :nav="false"
        :responsive="{0:{items:1,nav:false}}"
      >
        <div
          class="relative home-slide w-full"
          v-for="(slide, index) in $static.pages.slider"
          :key="index"
        >
          <g-image :src="slide" class="absolute w-full h-full object-cover" />
        </div>
      </Carousel>
    </ClientOnly>
  </div>
</template>

<static-query>
query Pages {
  pages(path: "/") {
    id
    slider
  }
}
</static-query>

<script>
export default {
  components: {
    Carousel: () => import("vue-owl-carousel")
  }
};
</script>

<style lang="scss">
.home-slide {
  &:after {
    content: "";
    display: block;
    padding-top: 66%;
    @media (min-width: 1024px) {
      padding-top: 50%;
    }
  }
}
</style>