<template>
  <transition name="fade">
    <div
      class="loading-screen fixed inset-0 z-50 flex items-center justify-center"
      v-if="loadingScreen"
    >
      <div class="loading-screen__logo">
        <g-image src="~/assets/img/logo.svg" alt="JB delicatessen" class="lg:mx-auto logo" />
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  data() {
    return {
      loadingScreen: true
    };
  },
  mounted() {
    setTimeout(() => {
      this.loadingScreen = false;
    }, 1500);
  }
};
</script>

<style lang="scss">
@keyframes blink-animation {
  50% {
    opacity: 0.5;
  }
}
.loading-screen {
  background-color: $color--darkgray;
  .loading-screen__logo {
    opacity: 1;
    animation: blink-animation 1s infinite;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}
</style>