<template>
  <ClientOnly>
    <div class="product-listing">
      <div class="container px-4 lg:px-0">
        <div
          class="product-listing__product flex flex-wrap pt-24"
          v-for="(product, index) in filteredProducts"
          :key="index"
        >
          <div class="w-full lg:w-4/12 mb-6 lg:mb-0" data-aos="fade-right" data-aos-delay="2">
            <div class="product-image relative">
              <g-image :src="product.node.imagen" class="w-full h-full object-cover absolute" />
              <span class="product-image__deco absolute w-full h-full hidden md:block">
                <g-image :src="product.node.icon" class="absolute m-auto top-0 bottom-0 right-0" />
              </span>
            </div>
          </div>
          <div class="w-full lg:w-6/12 lg:ml-auto" data-aos="fade-left" data-aos-delay="2">
            <div class="flex flex-wrap product-info-item py-4">
              <div class="w-full md:w-1/2">
                <div class="text-gold uppercase text-lg">Producto</div>
              </div>
              <div class="w-full md:w-1/2">
                <div class="text-white text-lg">{{product.node.title}}</div>
              </div>
            </div>
            <div class="flex flex-wrap product-info-item py-4">
              <div class="w-full md:w-1/2">
                <div class="text-gold uppercase text-lg">Tipo</div>
              </div>
              <div class="w-full md:w-1/2">
                <div class="text-white text-lg">{{product.node.tipo}}</div>
              </div>
            </div>
            <div class="flex flex-wrap product-info-item py-4">
              <div class="w-full md:w-1/2">
                <div class="text-gold uppercase text-lg">Características</div>
              </div>
              <div class="w-full md:w-1/2">
                <div class="text-white text-lg">
                  <vue-simple-markdown :source="product.node.caracteristicas"></vue-simple-markdown>
                </div>
              </div>
            </div>
            <div class="flex flex-wrap product-info-item py-4">
              <div class="w-full md:w-1/2">
                <div class="text-gold uppercase text-lg">Consumo recomendado</div>
              </div>
              <div class="w-full md:w-1/2">
                <div class="text-white text-lg">
                  <vue-simple-markdown :source="product.node.consumo_recomendado"></vue-simple-markdown>
                </div>
              </div>
            </div>
            <div class="flex flex-wrap product-info-item py-4">
              <div class="w-full md:w-1/2">
                <div class="text-gold uppercase text-lg">Vida en anaquel</div>
              </div>
              <div class="w-full md:w-1/2">
                <div class="text-white text-lg">
                  <vue-simple-markdown :source="product.node.vida_anaquel"></vue-simple-markdown>
                </div>
              </div>
            </div>
            <div class="flex flex-wrap product-info-item py-4">
              <div class="w-full md:w-1/2">
                <div class="text-gold uppercase text-lg">Maridaje</div>
              </div>
              <div class="w-full md:w-1/2">
                <div class="text-white text-lg">
                  <vue-simple-markdown :source="product.node.maridaje"></vue-simple-markdown>
                </div>
              </div>
            </div>
            <div class="flex flex-wrap mt-8">
              <div class="w-1/4 hidden md:block md:pr-8" v-for="image in product.node.maridajes">
                <g-image :src="image" class="w-full" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ClientOnly>
</template>

<static-query>
{
    products: allProducts {
        edges {
            node {
                id
                title
                imagen
                tipo
                icon
                caracteristicas
                consumo_recomendado
                vida_anaquel
                maridaje
                categoria
                maridajes
            } 
        }
    }
}
</static-query>

<script>
import { VueSimpleMarkdown } from "vue-simple-markdown";
export default {
  props: {
    selectedCat: String
  },
  components: {
    VueSimpleMarkdown
  },
  computed: {
    filteredProducts() {
      if (this.selectedCat !== "") {
        return this.$static.products.edges.filter(
          product => product.node.categoria === this.selectedCat
        );
      } else {
        return this.$static.products.edges;
      }
    }
  }
};
</script>

<style lang="scss">
.product-image {
  &:after {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .product-image__deco {
    border-top: solid 1px $color--gold;
    border-left: solid 1px $color--gold;
    border-bottom: solid 1px $color--gold;
    transform: translate(8%, -5%);
    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 35%;
      right: 0;
      background-color: $color--gold;
    }
    &:after {
      top: 0;
    }
    &:before {
      bottom: 0;
    }
    img {
      height: 30%;
      transform: translateX(50%);
    }
  }
}
.product-info-item {
  border-top: solid 1px $color--gold;
  border-bottom: solid 1px $color--gold;
  margin-top: -1px;
  ul {
    li {
      position: relative;
      padding-left: 15px;
      &:before {
        content: "-";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
      }
    }
  }
}
</style>