<template>
  <div class="layout">
    <Header />
    <transition name="fade" appear>
      <main class="relative">
        <slot />
        <g-image
          src="~/assets/img/JB-ilustracion-2-1.jpg"
          class="fixed w-full bottom-0 left-0 jb-illustration"
        ></g-image>
      </main>
    </transition>
    <Footer />
  </div>
</template>

<script>
import Header from "~/components/Header";
import Footer from "~/components/Footer";

export default {
  components: {
    Header,
    Footer
  },
  mounted() {
    this.$nextTick(() => {
      window.AOS = require("aos");
      AOS.init();
    });
  }
};
</script>

<style lang="scss">
@import "../../node_modules/aos/dist/aos.css";
@font-face {
  font-family: "Lehavre";
  src: url("../assets/fonts/lehavre.otf");
  font-weight: normal;
}

// body {
//   background-image: url("../assets/img/JB-ilustracion-2-1.jpg");
//   background-size: 100% auto;
//   background-position: fixed;
// }

h2 {
  font-family: "Lehavre";
}
.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-enter {
  opacity: 0;
}
.jb-illustration {
  opacity: 0.3;
  z-index: -1;
}
</style>
