$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 2px;
$hamburger-layer-color: #fff;
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";
//@import "../../../node_modules/aos/dist/aos.css";

$color--darkgray: #262527;
$color--gold: #b9a184;

body {
  background-color: $color--darkgray;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-family: "Lehavre";
}

p {
  white-space: pre-wrap;
}

button {
  &:active,
  &:focus {
    outline: none;
  }
}

.text-gold {
  color: $color--gold;
}

.jb-btn {
  background-color: $color--darkgray;
  border: solid 1px $color--gold;
  color: $color--gold;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("~@/assets/img/cross.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}
